<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评论-闲言轻博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{template "comm/link.html"}}
</head>
<body class="lay-blog">
<div class="header">
{{template "comm/header.html" .}}
</div>
<div class="container-wrap">
    <div class="container container-message container-details container-comment">
        <div class="contar-wrap">
            <div class="item">
            {{template "comm/note_summary_tpl.html" .note}}
            </div>
            <form class="layui-form" action="">
                <!-- 传入文章的key-->
                <input type="hidden" name="key" value="{{.note.Key}}">
                <!-- 传入评论的内容：content-->
                <div class="layui-form-item layui-form-text">
                    <textarea class="layui-textarea" name="content" style="resize:none"
                              placeholder="写点什么啊????"></textarea>
                </div>
                <div class="btnbox">
                    <!-- lay-submit lay-filter="comment" 是有layui提供的，用于绑定提交事件 -->
                    <button lay-submit class="layui-btn" lay-filter="comment">
                        确定
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <p>
        <span>&copy; 2018</span>
        <span><a href="http://www.layui.com" target="_blank">layui.com</a></span>
        <span>MIT license</span>
    </p>
    <p><span>人生就是一场修行</span></p>
</div>
{{ template "comm/footer.html" .}}
<script src="/static/layui/layui.js">

</script>
<script src="/static/js/jquery.min.js"></script>
<script>


    layui.use(['util', 'laydate', 'layer', "form"], function () {

        var util = layui.util
                , laydate = layui.laydate
                , layer = layui.layer
                , form = layui.form;

        form.on('submit(comment)', function (data) {
            //我们假定评论新增路由的路径为 "/message/new/:key" key是文章的key
            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/message/new/" + data.field.key,//url
                data: data.field,
                content: data.field.content,
                success: function (result) {
                    if (result.code == 0) {
                        layer.msg("评论成功！");
                        setTimeout(function () {
                            window.location.href = "/details/" + data.field.key;
                        }, 300)
                    } else {
                        layer.msg(result.msg)
                    }
                },
                error: function () {
                    layer.msg("网络异常")
                }
            });
            return false;
        })

    })


</script>

</body>
</html>