<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评论-闲言轻博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/layui/css/layui.css">
{{template "comm/link.html"}}
</head>
<body class="lay-blog">

<div class="header">
{{template "comm/header.html".}}
</div>
<div class="container-wrap">
    <div class="container container-message container-details">
        <div class="contar-wrap">
            <div class="item">
                <div class="item-box  layer-photos-demo1 layer-photos-demo">

                {{template "comm/note_tpl.html" .note }}

                    <div class="count layui-clear">
                        <span class="pull-left">阅读 <em>100000+</em></span>
                        <span class="pull-right like" data-type="note" data-key="{{.note.Key}}">
                            <i class="layui-icon layui-icon-praise"></i>
                            <!--添加样式value，方便后期修改点赞数量 -->
                            <em class="value">{{.note.Praise}}</em>
                        </span>
                    </div>
                </div>
            </div>
            <a name="comment"> </a>
            <div class="comt layui-clear">
                <a href="javascript:;" class="pull-left">评论</a>
                <a href="/comment/{{.note.Key}}" class="pull-right">写评论</a>
            </div>
            <div id="LAY-msg-box">

            </div>

        {{range  $index, $val:= .messages}}
            <div class="info-item">
                <img class="info-img" src="/static/images/info-img.png" alt="">
                <div class="info-text">
                    <p class="title count">
                        <span class="name">{{$val.User.Name}}</span>
                        <span class="info-img like"><i class="layui-icon layui-icon-praise"></i>{{$val.Praise}}</span>
                    </p>
                    <p class="info-intr">
                    {{$val.Content}}
                    </p>
                </div>
            </div>
        {{end}}
        </div>
    </div>
</div>
<div class="footer">
    <p>
        <span>&copy; 2018</span>
        <span><a href="http://www.layui.com" target="_blank">layui.com</a></span>
        <span>MIT license</span>
    </p>
    <p><span>人生就是一场修行</span></p>
</div>
<script src="../static/layui/layui.js">

</script>
<script>
    layui.use(['util', 'laydate', 'layer', "jquery"], function () {
        var util = layui.util
                , laydate = layui.laydate
                , layer = layui.layer
                , $ = layui.jquery

        //没有登录的情况
        var option = {
            bar1: "&#xe770;"
            , css: {right: 50, bottom: 100}
            , bgcolor: '#393D49'
            , click: function (type) {
                if (type === 'bar1') {
                    window.location.href = "/login"
                }
            }
        }


        var isLogin ={{.IsLogin}}
        if (!isLogin) {
            util.fixbar(option);
            return
        }


        //当前用于登录并且和该文章的用户id是一样的 那么可以进行修改和删除操作
        //1、只有管理员才能修改
        var role = {{.user}}.
        role
        if (role == 1) {
            return
        }

        var key ={{.note}}.
        key


        //登录的情况下
        var option_ohter = {
            bar1: "&#xe642;"
            , bar2: "&#x1006;"
            , css: {right: 50, bottom: 100}
            , bgcolor: '#393D49'
            , click: function (type) {
                if (type === 'bar1') {
                    //编辑
                    window.location.href = "/note/edit/" + key
                } else {
                    $.ajax({
                        //几个参数需要注意一下
                        type: "POST",//方法类型
                        dataType: "json",//预期服务器返回的数据类型
                        url: "/note/delete/" + key,//url
                        success: function (result) {

                            if (result.code == 0) {
                                layer.msg("删除成功")
                                if (result.action) {
                                    setTimeout(function () {
                                        window.location.href = result.action
                                    }, 300)
                                }
                            } else {
                                layer.msg("保存失败")
                            }
                        },
                        error: function () {
                            layer.msg("网络异常")
                        }
                    });
                }
            }
        }

        //2、改文章的作者和登录人事一个人
        var userId = {{.user}}.
        Id

        var noteId = {{.note}}.
        user.Id


        if (userId == noteId) {
            util.fixbar(option_ohter);
        }


    });
</script>
</body>
</html>