<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>闲言轻博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--引用-->
{{template "comm/link.html"}}
</head>
<body class="lay-blog">
<!--引用header.html-->
{{template "comm/header.html" .}}
<div class="container-wrap">
    <div class="container">
        <div class="contar-wrap">
            <h4 class="item-title">
                <p><i class="layui-icon layui-icon-speaker"></i>公告：<span>欢迎来到我的轻博客</span></p>
            </h4>

        {{range .item}}
            <div class="item">
            {{template "comm/note_summary_tpl.html" .}}
                <div class="comment count">
                    <a href="details.html#comment">评论</a>
                    <a href="javascript:;" class="like">点赞</a>
                </div>
            </div>
        {{end}}


        </div>
        <div class="item-btn">
        {{if gt .page 1}}   {{/*如果page>1才显示*/}}
            <button class="layui-btn layui-btn-normal"
                    onclick="window.location.href='/?page={{.page | minusPage}}&title={{.title}}'">
                上一页
            </button>
        {{end}}
        {{if lt .page .totalpage}}
            <button class="layui-btn layui-btn-normal"
                    onclick="window.location.href='/?page={{.page | addPage}}&title={{.title}}'">下一页
            </button>
        {{end}}
        </div>

    </div>
</div>
<!--引用footer.html-->
{{template "comm/footer.html" .}}
<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['util', 'laydate', 'layer'], function () {
        var util = layui.util
                , laydate = layui.laydate
                , layer = layui.layer;

        var isLogin ={{.IsLogin}}
        //当前用于登录并且和该文章的用户id是一样的 那么可以进行修改和删除操作
        //1、只有管理员才能修改
        var role = {{.user}}.
        role
        if (role == 1) {
            return
        }

        var option = {
            bar1: "&#xe654;"
            , css: {right: 50, bottom: 100}
            , bgcolor: '#393D49'
            , click: function (type) {
                if (type === 'bar1') {
                    window.location.href = "/note/new"
                }
            }
        }
        util.fixbar(option);
    });
</script>
</body>
</html>