<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言-闲言轻博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{template "comm/link.html"}}

</head>
<body class="lay-blog">

{{template "comm/header.html" .}}

<div class="container-wrap">
    <div class="container container-message">
        <div class="contar-wrap" id="contar-wrap">
            <form class="layui-form" action="">
                <div class="layui-form-item layui-form-text">
                    <textarea class="layui-textarea" name="content" style="resize:none"></textarea>
                </div>

                <div class="item-btn">
                    <button lay-submit class="layui-btn layui-btn-normal" lay-filter="comment">提交</button>
                </div>
            </form>




        {{range .lmessages}}
            <div id="LAY-msg-box">
                <div class="info-box">
                    <div class="info-item">
                        <img class="info-img" src="/static/images/info-img.png" alt="">
                        <div class="info-text">
                            <p class="title count">
                                <span class="name">{{.User.Name}}</span>
                                <span class="info-img like"><i
                                        class="layui-icon layui-icon-praise"></i>{{.Praise}}</span>
                            </p>
                            <p class="info-intr">
                            {{.Content}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}



            <div id="test1" class="paging"></div>
        </div>
    </div>
</div>
<div class="footer">
    <p>
        <span>&copy; 2018</span>
        <span><a href="http://www.layui.com" target="_blank">layui.com</a></span>
        <span>MIT license</span>
    </p>
    <p><span>人生就是一场修行</span></p>
</div>
</div>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script>


    layui.use(['util', 'laydate', 'layer', "form"], function () {

        var util = layui.util
                , laydate = layui.laydate
                , layer = layui.layer
                , form = layui.form;

        form.on('submit(comment)', function (data) {
            //我们假定评论新增路由的路径为 "/message/new/:key" key是文章的key
            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/message/lnew",
                data: data.field,
                content: data.field.content,
                success: function (result) {
                    if (result.code == 0) {
                        layer.msg("留言成功！");
                        setTimeout(function () {
                            window.location.href = result.action
                        }, 300)
                    } else {
                        layer.msg(result.msg)
                    }
                },
                error: function () {
                    layer.msg("网络异常")
                }
            });
            return false;
        })

    })


</script>
</body>
