<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>闲言轻博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{template "comm/link.html"}}
    <style>
        .layui-form-label {
            width: 50px;
        }

        .layui-input-block {
            margin-left: 40px;
        }

        @media screen and (max-width: 450px) {
            .layui-form-item .layui-input-inline {
                margin: 0 0 10px 80px;
            }
        }
    </style>
</head>
<body class="lay-blog">
{{template "comm/header.html".}}
<div class="container-wrap">
    <div class="container">
        <div class="contar-wrap">
            <div class="item">
            {{if .IsLogin}}
                <h4 class="item-title">
                    <p><i class="layui-icon layui-icon-speaker"></i>{{.user.Name}}正在处于登录状态，点击<a href="/logout" style="color:#01AAED;">退出</a></p>
                </h4>
            {{else}}
                <div class="item-box">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" required lay-verify="required"
                                       placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" required lay-verify="required"
                                       placeholder="请输入密码"
                                       autocomplete="off" class="layui-input">
                            </div>

                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="login">登陆</button>
                                <a href="/register" class="layui-btn layui-btn-primary">注册用户</a>
                            </div>
                        </div>
                    </form>

                </div>
            {{end}}
            </div>
        </div>
    </div>
</div>

{{template "comm/footer.html" .}}

<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script>
    layui.use('form', function () {
        var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

        //监听提交
        form.on('submit(login)', function (data) {
            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/login",//url
                data: data.field,
                success: function (result) {
                    if (result.code == 0) {
                        setTimeout(function () {
                            window.location.href = result.action
                        }, 300)
                    } else {
                        layer.msg(result.msg)
                    }
                },
                error: function () {
                    layer.msg("网络异常")
                }
            });
            return false;
        });
    })
</script>
</body>
</html>